<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta
      name="google-site-verification"
      content="b2vpWMsupBPPiOUgFSOrTPh2Yd3YoQ9ax6NvQS-CsZU"
    />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="http://theanhit.com/img/anh.jpg"
      type="image/x-icon"
    />
    <title>Nguyễn Thế Anh</title>
    <meta
      name="keywords"
      content="theanhit; Theanhit; theanhit.com; theanh; the anh; nguyen the anh; nguyentheanh; 0962296380; 0919419496; thiet kế web; thiết kế web;"
    />
    <meta name="title" content="Nguyễn Thế Anh" />
    <meta name="description" content="Nguyễn Thế Anh Web Developer" />
    <meta name="og:url" content="http://theanhit.com" />
    <meta name="og:title" content="Nguyễn Thế Anh" />
    <meta name="og:description" content="Nguyễn Thế Anh Web Developer" />
    <meta name="og:image" content="http://theanhit.com/img/anh.jpg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header>
      <div class="container">
        <div class="box-header">
          <div class="cover-image">
            <img src="img/bg.jpg" alt="" />
          </div>
          <div class="avata">
            <div class="image">
              <img src="img/anh.jpg" alt="" />
              <a href="/cv">
                <span>
                  <span>cv</span>
                </span>
              </a>
            </div>
            <h1>Nguyễn Thế Anh</h1>
            <div id="view">123</div>
          </div>
        </div>
      </div>
    </header>
    <main>
      <div class="container">
        <div class="box-main">
          <div class="left">
            <div class="box-left">
              <h2>Giới thiệu</h2>
              <div class="info">
                <div class="icon">
                  <img src="img/hat.png" alt="" />
                </div>
                <div class="text">
                  Đã học Công Nghệ Thông Tin tại Trường Đai Hoc Bách Khoa, Đại
                  Học Đà Nẵng
                </div>
                <div class="icon">
                  <img src="img/hat.png" alt="" />
                </div>
                <div class="text">Đã học tại THPT Phúc Trạch</div>
                <div class="icon">
                  <img src="img/home.png" alt="" />
                </div>
                <div class="text">Sống tại Hà Tĩnh</div>
                <div class="icon">
                  <img src="img/heart.png" alt="" />
                </div>
                <div class="text">Độc thân</div>
              </div>
            </div>
          </div>
          <div class="right">
            <div class="box-right">
              <h2>Liên hệ với tôi</h2>
              <div class="contact">
                <div class="item">
                  <a href="https://facebook.com/theanh.dev" target="_blank">
                    <i class="fab fa-facebook"></i>
                    Faceboook
                  </a>
                </div>
                <div class="item">
                  <a
                    href="https://www.instagram.com/theanh.it/"
                    target="_blank"
                  >
                    <i class="fab fa-instagram-square"></i>
                    Instagram
                  </a>
                </div>
                <div class="item">
                  <a href="https://github.com/theanh-it" target="_blank">
                    <i class="fab fa-github"></i>
                    Github
                  </a>
                </div>
                <div class="item">
                  <a href="#">
                    <i class="fab fa-skype"></i>
                    Skype
                  </a>
                </div>
                <div class="item">
                  <a href="mail:theanh.a1k12@gmail.com" target="_blank">
                    <i class="fas fa-envelope"></i>
                    theanhit.com@gmail.com
                  </a>
                </div>
                <div class="item" target="_blank">
                  <a href="tel:0919419496">
                    <i class="fas fa-phone-square-alt"></i>
                    09.194.194.96
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js"
      integrity="sha512-u9akINsQsAkG9xjc1cnGF4zw5TFDwkxuc9vUp5dltDWYCSmyd0meygbvgXrlc/z7/o4a19Fb5V0OUE58J7dcyw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.14/vue.min.js"
      integrity="sha512-XdUZ5nrNkVySQBnnM5vzDqHai823Spoq1W3pJoQwomQja+o4Nw0Ew1ppxo5bhF2vMug6sfibhKWcNJsG8Vj9tg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.0/socket.io.min.js"
      integrity="sha512-I9p4eOeWXGM9m5GhJYd3UDUA5Lr+Epp5e4ykWFYW9hv3jZqdR92S5p+ApMSWuMaV4E+JqILepP1G9kNer4AFGQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script>
      function number_format(number, decimals, dec_point, thousands_sep) {
        number = (number + "").replace(/[^0-9+\-Ee.]/g, "");
        var n = !isFinite(+number) ? 0 : +number,
          prec = !isFinite(+decimals) ? 0 : Math.abs(decimals),
          sep = typeof thousands_sep === "undefined" ? "," : thousands_sep,
          dec = typeof dec_point === "undefined" ? "." : dec_point,
          s = "",
          toFixedFix = function (n, prec) {
            var k = Math.pow(10, prec);
            return "" + Math.round(n * k) / k;
          };
        s = (prec ? toFixedFix(n, prec) : "" + Math.round(n)).split(".");
        if (s[0].length > 3) {
          s[0] = s[0].replace(/\B(?=(?:\d{3})+(?!\d))/g, sep);
        }
        if ((s[1] || "").length < prec) {
          s[1] = s[1] || "";
          s[1] += new Array(prec - s[1].length + 1).join("0");
        }
        return s.join(dec);
      }
    </script>
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const socket = io();
        new Vue({
          el: "#view",
          template: `<h2><span><i class="fas fa-hand-pointer"></i> {{ number_format(view,0,",",".") }}</span> <span><i class="fas fa-user"></i> {{ number_format(online,0,",",".") }}</span></h2>`,
          data() {
            return {
              view: 100000,
              online: 10,
            };
          },
          mounted() {
            socket.on("connect", () => {
              console.log(socket.id); // x8WIv7-mJelg7on_ALbx
            });
            socket.on("online", (data) => {
              this.online = data.online;
              this.view = data.view;
            });
          },
        });
      });
    </script>
  </body>
</html>
