<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV - NGUYỄN THẾ ANH</title>
    <meta name="keywords" content="theanhit; Theanhit; theanhit.com; theanh; the anh; nguyen the anh; nguyentheanh; 0962296380; 0919419496; thiet kế web; thiết kế web;">
    <meta name="title" content="Nguyễn Thế Anh">
    <meta name="description" content="Nguyễn Thế Anh Web Developer">
    <meta name="og:url" content="http://theanhit.com">
    <meta name="og:title" content="Nguyễn Thế Anh">
    <meta name="og:description" content="Nguyễn Thế Anh Web Developer">
    <meta name="og:image" content="http://theanhit.com/img/avata.jpg">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/cv/style.css">
</head>
<body>
    <main class="container">
        <div class="box-main">
            <div class="left">
                <div class="avata">
                    <img src="/img/avata.jpg" alt="">
                </div>
                <div class="info">
                    <div class="icon">
                        <i class="fas fa-house-user"></i>
                    </div>
                    <div class="text">
                        132 Nguyễn Đức Trung - Thanh Khê - TP Đà Nẵng
                    </div>
                    <div class="icon">
                        <i class="fas fa-map-marker-alt"></i>
                    </div>
                    <div class="text">
                        Hà Tĩnh
                    </div>
                    <div class="icon">
                        <i class="fas fa-birthday-cake"></i>
                    </div>
                    <div class="text">
                        05/08/1996
                    </div>
                    <div class="icon">
                        <i class="fas fa-heart"></i>
                    </div>
                    <div class="text">
                        Độc thân
                    </div>
                    <div class="icon">
                        <i class="fas fa-phone-square-alt"></i>
                    </div>
                    <div class="text phone">
                        <a href="tel:0919419496" title="09.194.194.96">09.194.194.96</a> - <a title="0962.296.380" href="tel:0962296380">0962.296.380</a>
                    </div>
                    <div class="icon">
                        <i class="fas fa-envelope"></i>
                    </div>
                    <div class="text">
                        <a href="mailto:theanh.a1k12@gmail.com">theanh.a1k12@gmail.com</a>
                    </div>
                    <div class="icon">
                        <i class="fab fa-facebook"></i>
                    </div>
                    <div class="text">
                        <a href="https://facebook.com/theanh.dev" target="_blank" title="facebook.com/theanh.dev">facebook.com/theanh.dev</a>
                    </div>
                    <div class="icon">
                        <i class="fab fa-github"></i>
                    </div>
                    <div class="text">
                        <a href="https://github.com/theanh-it" target="_blank" title="github.com/theanh-it">github.com/theanh-it</a>
                    </div>
                </div>
                <div class="skill">
                    <h2><span class="hr"></span><span class="text">KỸ NĂNG</span><span class="hr"></span></h2>
                    <div class="box-skill">
                        <div class="text">PHP</div>
                        <div class="dot">
                            <i class="fas fa-circle"></i>
                            <i class="fas fa-circle"></i>
                            <i class="fas fa-circle"></i>
                            <i class="fas fa-circle"></i>
                            <i class="far fa-circle"></i>
                        </div>
                        <div class="text">LARAVEL</div>
                        <div class="dot">
                            <i class="fas fa-circle"></i>
                            <i class="fas fa-circle"></i>
                            <i class="fas fa-circle"></i>
                            <i class="fas fa-circle"></i>
                            <i class="far fa-circle"></i>
                        </div>
                        <div class="text">MYSQL</div>
                        <div class="dot">
                            <i class="fas fa-circle"></i>
                            <i class="fas fa-circle"></i>
                            <i class="fas fa-circle"></i>
                            <i class="fas fa-circle"></i>
                            <i class="far fa-circle"></i>
                        </div>
                        <div class="text">NODEJS</div>
                        <div class="dot">
                            <i class="fas fa-circle"></i>
                            <i class="fas fa-circle"></i>
                            <i class="fas fa-circle"></i>
                            <i class="fas fa-circle"></i>
                            <i class="far fa-circle"></i>
                        </div>
                        <div class="text">HTML</div>
                        <div class="dot">
                            <i class="fas fa-circle"></i>
                            <i class="fas fa-circle"></i>
                            <i class="fas fa-circle"></i>
                            <i class="fas fa-circle"></i>
                            <i class="far fa-circle"></i>
                        </div>
                        <div class="text">CSS</div>
                        <div class="dot">
                            <i class="fas fa-circle"></i>
                            <i class="fas fa-circle"></i>
                            <i class="fas fa-circle"></i>
                            <i class="fas fa-circle"></i>
                            <i class="far fa-circle"></i>
                        </div>
                        <div class="text">JS</div>
                        <div class="dot">
                            <i class="fas fa-circle"></i>
                            <i class="fas fa-circle"></i>
                            <i class="fas fa-circle"></i>
                            <i class="fas fa-circle"></i>
                            <i class="far fa-circle"></i>
                        </div>
                        <div class="text">VUEJS</div>
                        <div class="dot">
                            <i class="fas fa-circle"></i>
                            <i class="fas fa-circle"></i>
                            <i class="fas fa-circle"></i>
                            <i class="fas fa-circle"></i>
                            <i class="far fa-circle"></i>
                        </div>
                    </div>
                </div>
                <div class="favorite">
                    <h2><span class="hr"></span><span class="text">SỞ THÍCH</span><span class="hr"></span></h2>
                    <div class="box-favorite">
                        <div>Xem phim, chơi game, nghe nhạc, ca hát...</div>
                    </div>
                </div>
                <div class="favorite">
                    <h2><span class="hr"></span><span class="text">THÔNG TIN THÊM</span><span class="hr"></span></h2>
                    <div class="box-favorite">
                        <div>- Khả năng làm việc độc lập tốt</div>
                        <div>- Chăm chỉ, cầu tiền</div>
                        <div>- Tính tình cởi mở</div>
                        <div>- Vui vẻ hòa đồng với đồng nghiệp</div>
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="box-header">
                    <h1>Nguyễn Thế Anh</h1>
                    <h2>Web Developer</h2>
                </div>
                <div class="graduate">
                    <h2><span class="hr"></span><span class="text">HỌC TẬP</span><span class="hr"></span></h2>
                    <div class="box-graduate">
                        <div class="item">
                            <h3>Công Nghệ Thông Tin</h3>
                            <h4>Đại Học Bách Khoa Đà Nẵng | 09/2015 - 05/2020</h4>
                            <ul>
                                <li>Chuyên ngành: Công nghệ phần mềm</li>
                                <li>Học lực: Khá</li>
                            </ul>
                        </div>
                    </div>
                    <div class="box-graduate">
                        <div class="item">
                            <h3>Chứng chỉ lập trình viên PHP/LARAVEL & MYSQL</h3>
                            <h4>Công ty TNHH giải pháp công nghệ VinaEnter | 12/2017 - 05/2018</h4>
                            <ul>
                                <li>HTML, CSS , JS</li>
                                <li>PHP, PHP-LARAVEL, MYSQL</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="experience">
                    <h2><span class="hr"></span><span class="text">KINH NGHIỆM</span><span class="hr"></span></h2>
                    <div class="box-experience">
                        <div class="item">
                            <h3>Fresher PHP-LARAVEL Developer</h3>
                            <h4>Công ty TNHH giải pháp công nghệ VinaEnter | 08/2018 - 12/2018</h4>
                            <h4>Thực hiện dự án:</h4>
                            <ul>
                                <li>Hệ thống đào tạo online B-Learning: blearning.vn</li>
                                <li>Hệ thống đào tạo vinaenter.vn</li>
                            </ul>
                        </div>
                        <div class="item">
                            <h3>Full-Stack Developer</h3>
                            <h4>Công ty cổ phần đầu tư và thương mại VNCT | 12/2019 - đến nay</h4>
                            <h4>Thực hiện dự án rao vặt tizi.vn</h4>
                            <h5>BACKEND:</h5>
                            <ul>
                                <li>RESTfull API</li>
                                <li>NODEJS</li>
                                <li>MYSQL</li>
                                <li>SOCKET.IO</li>
                            </ul>
                            <h5>FRONTEND:</h5>
                            <ul>
                                <li>HTML CSS JS</li>
                                <li>VUEJS</li>
                                <li>MYSQL</li>
                                <li>SOCKET.IO</li>
                            </ul>
                            <h5>SERVER:</h5>
                            <ul>
                                <li>VPS, HOSTING</li>
                                <li>LINUX</li>
                                <li>APACHE2, NGINX</li>
                                <li>PHPMYADMIN</li>
                                <li>PM2</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="project">
                    <h2><span class="hr"></span><span class="text">DỰ ÁN THỰC TẾ</span><span class="hr"></span></h2>
                    <div class="box-project">
                        <ul>
                            <li>Web đào tạo online B-Learning: <a href="https://blearning.vn" target="_blank">https://blearning.vn</a></li>
                            <li>Web đào tạo VinaEner: <a href="https://vinaenter.vn" target="_blank">https://vinaenter.vn</a></li>
                            <li>Web bán sách Dreambook: <a href="http://dreambook.vn" target="_blank">http://dreambook.vn</a></li>
                            <li>Web quản lý cộng tác viên: <a href="http://donhang.dreambook.vn" target="_blank">http://donhang.dreambook.vn</a></li>
                            <li>Web bán đồ gốm: <a href="https://gom.com.vn" target="_blank">https://gom.com.vn</a></li>
                            <li>Web giới thiệu công ty: <a href="http://rongvietexpress.vn" target="_blank">http://rongvietexpress.vn</a></li>
                            <li>Web giới thiệu công ty: <a href="http://kiemdinhisc.com" target="_blank">http://kiemdinhisc.com</a></li>
                            <li>Web cho thuê máy ảnh: <a href="http://dathanhcamera.com" target="_blank">http://dathanhcamera.com</a></li>
                            <li>Web rao vặt: <a href="https://tizi.vn" target="_blank">https://tizi.vn</a></li>
                        </ul>
                    </div>                
                </div>
            </div>
        </div>
    </main>
</body>
</html>