<!DOCTYPE html>
<html lang="en">
  <head>
    <meta
      name="google-site-verification"
      content="b2vpWMsupBPPiOUgFSOrTPh2Yd3YoQ9ax6NvQS-CsZU"
    />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CV - NGUYỄN THẾ ANH</title>
    <meta
      name="keywords"
      content="theanhit; Theanhit; theanhit.com; theanh; the anh; nguyen the anh; nguyentheanh; 0962296380; 0919419496; thiet kế web; thiết kế web;"
    />
    <meta name="title" content="Nguyễn Thế Anh" />
    <meta name="description" content="Nguyễn Thế Anh Web Developer" />
    <meta name="og:url" content="http://theanhit.com" />
    <meta name="og:title" content="Nguyễn Thế Anh" />
    <meta name="og:description" content="Nguyễn Thế Anh Web Developer" />
    <meta name="og:image" content="http://theanhit.com/img/anh.jpg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="style.css" />
    <style>
      .loading {
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100vw;
        background-color: #fff;
        z-index: 9999;
      }
      .loader {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        border: 3px solid;
        border-color: #ff3d00 #ff3d00 transparent;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;
      }
      .loader::after {
        content: "";
        box-sizing: border-box;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        border: 3px solid;
        border-color: transparent #ff3d00 #ff3d00;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        animation: rotationBack 0.5s linear infinite;
        transform-origin: center center;
      }

      @keyframes rotation {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }

      @keyframes rotationBack {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(-360deg);
        }
      }
    </style>
    <style>
      .list {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
      }
      .list > .item {
        background-color: #f0f0f0;
        padding: 5px 10px;
        border-radius: 5px;
        margin: 0px !important;
        font-weight: 600;
      }
    </style>
  </head>
  <body>
    <main id="app" class="container">
      <div v-if="!isReady" class="loading">
        <span class="loader"></span>
      </div>
      <div class="box-main">
        <div class="right">
          <div class="header">
            <div class="avata">
              <img src="/img/anh.jpg" alt="" />
            </div>
            <div class="box-header">
              <h1>{{ fullName }}</h1>
              <h2>{{ position }}</h2>
              <div class="box-info">
                <div class="info">
                  <div class="icon">
                    <i class="fas fa-phone-square-alt"></i>
                  </div>
                  <div class="text phone">
                    <a href="tel:0919419496" title="09.194.194.96"
                      >09.194.194.96</a
                    >
                  </div>
                  <div class="icon">
                    <i class="fas fa-envelope"></i>
                  </div>
                  <div class="text">
                    <a href="mailto:theanhit.com@gmail.com"
                      >theanhit.com@gmail.com</a
                    >
                  </div>
                </div>
                <div class="info">
                  <div class="icon">
                    <i class="fab fa-facebook"></i>
                  </div>
                  <div class="text">
                    <a
                      href="https://facebook.com/theanh.dev"
                      target="_blank"
                      title="facebook.com/theanh.dev"
                      >facebook.com/theanh.dev</a
                    >
                  </div>
                  <div class="icon">
                    <i class="fab fa-github"></i>
                  </div>
                  <div class="text">
                    <a
                      href="https://github.com/theanh-it"
                      target="_blank"
                      title="github.com/theanh-it"
                      >github.com/theanh-it</a
                    >
                  </div>
                </div>
              </div>
              <h4>
                <span>PHP-LARAVEL</span>
                <span>NODEJS-EXPRESS</span>
                <span>MYSQL</span>
                <span>Mongodb</span>
                <span>SOCKET.IO</span>
                <span>HTML</span>
                <span>CSS</span>
                <span>JS</span>
                <span>VueJS</span>
                <span>Nuxtjs</span>
              </h4>
            </div>
          </div>
          <div class="graduate">
            <h2>
              <span class="hr"></span>
              <span class="text">HỌC TẬP</span>
              <span class="hr"></span>
            </h2>
            <div class="box-graduate">
              <div class="item">
                <h3>Công Nghệ Thông Tin</h3>
                <h4>Đại Học Bách Khoa Đà Nẵng | 09/2015 - 05/2020</h4>
                <ul>
                  <li>Chuyên ngành: Công nghệ phần mềm</li>
                  <li>Học lực: Khá</li>
                </ul>
              </div>
            </div>
            <div class="box-graduate">
              <div class="item">
                <h3>Chứng chỉ lập trình viên PHP/LARAVEL & MYSQL</h3>
                <h4>
                  Công ty TNHH giải pháp công nghệ VinaEnter | 12/2017 - 05/2018
                </h4>
                <ul>
                  <li>HTML, CSS , JS</li>
                  <li>PHP, PHP-LARAVEL, MYSQL</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="experience">
            <h2>
              <span class="hr"></span>
              <span class="text">KINH NGHIỆM</span>
              <span class="hr"></span>
            </h2>
            <div class="box-experience">
              <div v-for="(company, index) in experience" class="item">
                <div class="company">
                  <h3>{{ company.position }}</h3>
                  <h4>{{ company.companyName }} | {{ company.time }}</h4>
                </div>
                <div
                  v-for="(project, indexProject) in company.projects"
                  class="item"
                >
                  <h4>{{ indexProject + 1}}.</h4>
                  <table border="1px">
                    <tr v-for="(value, key) in PROJECT">
                      <template v-if="project[key]">
                        <td>{{ value }}</td>
                        <td v-if="key === 'link'">
                          <template v-if="project.type === 'app'">
                            <a :href="project[key].ios" target="_blank">
                              Link App IOS
                            </a>
                            |
                            <a :href="project[key].android" target="_blank">
                              Link App Android
                            </a>
                          </template>
                          <template v-else>
                            <a :href="project[key]" target="_blank">
                              {{ project[key] }}
                            </a>
                          </template>
                        </td>
                        <td
                          v-else-if="['backend', 'frontend', 'server'].includes(key)"
                        >
                          <div class="list">
                            <div class="item" v-for="item in project[key]">
                              {{ item }}
                            </div>
                          </div>
                        </td>
                        <td v-else>{{ project[key] }}</td>
                      </template>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="experience">
            <h2>
              <span class="hr"></span><span class="text">CÁC DỰ ÁN KHÁC</span
              ><span class="hr"></span>
            </h2>
            <div class="box-experience">
              <div class="item">
                <h4>1.</h4>
                <table border="1px">
                  <tr>
                    <td>Tên dự án</td>
                    <td>Website học từ vựng tiếng anh</td>
                  </tr>
                  <tr>
                    <td>Mô tả</td>
                    <td>Website học từ vựng tiếng anh</td>
                  </tr>
                  <tr>
                    <td>Link</td>
                    <td>
                      <a href="http://english.theanhit.com" target="_blank"
                        >http://english.theanhit.com</a
                      >
                    </td>
                  </tr>
                  <tr>
                    <td>Team size</td>
                    <td>1</td>
                  </tr>
                  <tr>
                    <td>Vị trí</td>
                    <td>Fullstack</td>
                  </tr>
                  <tr>
                    <td>Chi tiết</td>
                    <td>
                      <h5>BACKEND:</h5>
                      <ul>
                        <li>RESTfull API</li>
                        <li>PHP-LARAVEL</li>
                        <li>MYSQL</li>
                      </ul>
                      <h5>FRONTEND:</h5>
                      <ul>
                        <li>HTML CSS JS</li>
                        <li>VUEJS</li>
                      </ul>
                      <h5>SERVER:</h5>
                      <ul>
                        <li>Ubuntu server 16.04</li>
                        <li>PHP 7.4</li>
                        <li>MYSQL 5.7</li>
                        <li>NGINX</li>
                        <li>PM2</li>
                      </ul>
                    </td>
                  </tr>
                </table>
              </div>
              <div class="item">
                <h4>2.</h4>
                <table border="1px">
                  <tr>
                    <td>Tên dự án</td>
                    <td>Web bán đồ gốm gom.com.vn</td>
                  </tr>
                  <tr>
                    <td>Mô tả</td>
                    <td>Website bán các loại đồ gốm</td>
                  </tr>
                  <tr>
                    <td>Link</td>
                    <td>
                      <a href="https://gom.com.vn" target="_blank"
                        >https://gom.com.vn</a
                      >
                    </td>
                  </tr>
                  <tr>
                    <td>Team size</td>
                    <td>1</td>
                  </tr>
                  <tr>
                    <td>Vị trí</td>
                    <td>Fullstack</td>
                  </tr>
                  <tr>
                    <td>Chi tiết</td>
                    <td>
                      <h5>BACKEND:</h5>
                      <ul>
                        <li>MVC</li>
                        <li>PHP-LARAVEL</li>
                        <li>MYSQL</li>
                      </ul>
                      <h5>FRONTEND:</h5>
                      <ul>
                        <li>HTML CSS JS</li>
                        <li>ajax, jquery</li>
                      </ul>
                      <h5>SERVER:</h5>
                      <ul>
                        <li>HOSTING: Hostinger</li>
                        <li>APACHE2</li>
                        <li>PHP 7.4</li>
                        <li>MYSQL 5.7</li>
                      </ul>
                    </td>
                  </tr>
                </table>
              </div>
              <div class="item">
                <h4>3.</h4>
                <table border="1px">
                  <tr>
                    <td>Tên dự án</td>
                    <td>kiemdinhisc.com</td>
                  </tr>
                  <tr>
                    <td>Mô tả</td>
                    <td>Website giới thiệu dịch vụ kiểm định</td>
                  </tr>
                  <tr>
                    <td>Link</td>
                    <td>
                      <a href="https://kiemdinhisc.com" target="_blank"
                        >https://kiemdinhisc.com</a
                      >
                    </td>
                  </tr>
                  <tr>
                    <td>Team size</td>
                    <td>1</td>
                  </tr>
                  <tr>
                    <td>Vị trí</td>
                    <td>Fullstack</td>
                  </tr>
                  <tr>
                    <td>Chi tiết</td>
                    <td>
                      <h5>BACKEND:</h5>
                      <ul>
                        <li>RESTfull API</li>
                        <li>PHP-LARAVEL</li>
                        <li>MYSQL</li>
                      </ul>
                      <h5>FRONTEND:</h5>
                      <ul>
                        <li>HTML CSS JS</li>
                        <li>Bootstrap, Font Awesome</li>
                        <li>VUEJS</li>
                      </ul>
                      <h5>SERVER:</h5>
                      <ul>
                        <li>Ubuntu server 16.04</li>
                        <li>PHP 7.4</li>
                        <li>MYSQL 5.7</li>
                        <li>NGINX</li>
                        <li>PM2</li>
                      </ul>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <script type="module">
      import Vue from "/vue2.js";
      const PROJECT = {
        name: "Tên dự án",
        description: "Mô tả",
        link: "Link",
        teamSize: "Team size",
        position: "Vị trí",
        backend: "Backend",
        frontend: "Frontend",
        server: "Server",
      };
      const PROJECT_DETAIL = {
        backend: "Backend",
        frontend: "Frontend",
        server: "Server",
      };
      const ztech = {
        position: "Full-Stack Developer",
        companyName: "ZTech",
        time: "09/2024 - nay",
        projects: [
          {
            type: "app",
            name: "DMV Practice Test Pro ",
            description: "Ứng dụng thi bằng lái xe",
            link: {
              ios: "https://apps.apple.com/vn/app/dmv-practice-test-pro-2024/id6505030053?l=vi",
              android:
                "https://play.google.com/store/apps/details?id=io.zwork.dmvtest&pli=1",
            },
            teamSize: "1",
            position: "Fullstack",
            backend: [
              "RESTfull API",
              "Typescript",
              "Nodejs",
              "Express",
              "Mysql",
              "Prisma",
              "Prisma:seed",
              "Zod",
            ],
            frontend: [
              "Ionic 7",
              "Typescript",
              "Vue3",
              "Vuetify",
              "Date-fns",
              "Capacitor",
              "@capacitor-community/admob",
              "@capacitor-community/sqlite",
              "Axios",
              "Prisma",
            ],
            server: ["VPS", "UBUNTU 22.04", "MYSQL 8.0", "NGINX", "PM2"],
          },
          {
            type: "web",
            name: "UPSEO",
            description: "Bán các sản phẩm SEO",
            link: "https://upseo.co",
            teamSize: "1",
            position: "Fullstack",

            backend: [
              "RESTfull API",
              "Typescript",
              "Nodejs",
              "Express",
              "Mysql",
              "Prisma",
              "Prisma:seed",
              "Zod",
              "Socket.io server",
            ],
            frontend: [
              "Typescript",
              "Axios",
              "Nuxt3",
              "Primevue",
              "Date-fns",
              "Vuelidate",
              "Socket.io client",
            ],
            server: ["VPS", "UBUNTU 22.04", "MYSQL 8.0", "NGINX", "PM2"],
          },
          {
            name: "Xổ số",
            description: "Web xem kết quả xổ số, thống kê kết quả. dò xổ số",
            link: "http://209.97.167.125:3001/",
            teamSize: "1",
            position: "Fullstack",

            backend: [
              "RESTfull API",
              "Typescript",
              "Nodejs",
              "Express",
              "Mysql",
              "Prisma",
              "Date-fns",
            ],
            frontend: ["Typescript", "Axios", "Nuxt3", "Primevue", "Date-fns"],
            server: ["VPS", "UBUNTU 22.04", "MYSQL 8.0", "NGINX", "PM2"],
          },
          {
            name: "trumtuongtac.to",
            description:
              "Web tang like comment follow, tạo đại lý n cấp, tự tạo website riêng, tính tiền hoa hồng cho tầng cấp",
            teamSize: "1",
            link: "https://trumtuongtac.to",
            position: "Fullstack",

            backend: [
              "RESTfull API",
              "Typescript",
              "Nodejs",
              "Express",
              "Mysql",
              "Prisma",
              "Date-fns",
              "Zod",
            ],
            frontend: [
              "Typescript",
              "Axios",
              "Nuxt3",
              "Primevue",
              "Date-fns",
              "Vuelidate",
            ],
            server: ["VPS", "UBUNTU 22.04", "MYSQL 8.0", "NGINX", "PM2"],
          },
          {
            name: "ktmarry",
            description: "Web giới thiệu chụp ảnh, chụp ảnh cưới, quay video",
            teamSize: "1",
            link: "http://36.50.176.162:3000/",
            position: "Fullstack",

            backend: [
              "RESTfull API",
              "Typescript",
              "Nodejs",
              "Express",
              "Mysql",
              "Prisma",
              "Date-fns",
              "Zod",
              "Sharp",
              "Socket.io server",
            ],
            frontend: [
              "Typescript",
              "Axios",
              "Nuxt3",
              "Primevue",
              "Date-fns",
              "Vuelidate",
              "Socket.io client",
              "pica",
            ],
            server: ["VPS", "UBUNTU 22.04", "MYSQL 8.0", "NGINX", "PM2"],
          },
        ],
      };
      const azoom = {
        position: "Full-Stack Developer",
        companyName: "Azoom Việt Nam Inc.",
        time: "01/2023 - 08/2024",
        projects: [
          {
            name: "Coconi",
            description: "Thu thập thông tin các bãi đậu xe",
            link: "https://coconi.work",
            teamSize: "3",
            position: "Fullstack",
            backend: ["RESTfull API", "Nodejs", "Mysql", "Firebase"],
            frontend: ["Nuxt2", "Rsmdc", "Rscss", "Pica", "Event-bus"],
            server: ["Google clould", "Firebase"],
          },
          {
            name: "Ferry",
            description: "Đặt vé tàu biển",
            link: "https://ferry.smaku-dev.work",
            teamSize: "8",
            position: "Fullstack",
            backend: [
              "RESTfull API",
              "Typescript",
              "Auth0",
              "Pomerium",
              "Nodejs",
              "Express",
              "Mysql",
              "Prisma",
              "Prisma-fabbrica",
              "Prisma:seed",
              "Faker.js",
              "Zod",
              "Jest",
            ],
            frontend: [
              "Typescript",
              "Ky",
              "Nuxt3",
              "Vuetify",
              "Date-fns",
              "Vee-validate",
              "Zod",
            ],
            server: ["Google clould", "Firebase"],
          },
          {
            name: "Carparking One",
            description: "Quản lý bãi đậu xe",
            link: "https://staging-one.carparking.jp",
            teamSize: "10",
            position: "Fullstack",
            backend: [
              "RESTfull API",
              "Auth0",
              "Pomerium",
              "Nodejs",
              "Express",
              "Mysql",
              "Prisma",
              "Date-fns",
              "Lodash",
              "Got",
            ],
            frontend: [
              "Ky",
              "Nuxt2",
              "Marterial ui",
              "Date-fns",
              "Vuelidate",
              "Lodash",
            ],
            server: ["Google clould"],
          },
          {
            name: "Teppeki",
            description: "Quản lý bãi đậu xe",
            teamSize: "2",
            link: "https://staging.teppeki.cloud",
            position: "Fullstack",
            backend: [
              "RESTfull API",
              "Auth0",
              "Pomerium",
              "Nodejs",
              "Express",
              "Mysql",
              "Prisma",
              "Date-fns",
              "Lodash",
              "Got",
            ],
            frontend: [
              "Ky",
              "Nuxt2",
              "Marterial ui",
              "Date-fns",
              "Vuelidate",
              "Lodash",
            ],
            server: ["Google clould"],
          },
        ],
      };
      const unitech = {
        position: "Full-Stack Developer",
        companyName: "Công ty cổ phần UNITECH",
        time: "01/2022 - 12/2022",
        projects: [
          {
            name: "Odontology",
            description: "Website đào tạo trực tuyến",
            link: "https://dev.moso-odontologi.no",
            teamSize: "8",
            position: "Fullstack",
            backend: [
              "RESTfull API",
              "PHP-LARAVEL",
              "Mysql",
              "Nodejs",
              "Mongodb",
              "Mongoose",
              "Socket.io",
              "Lodash",
              "Axios",
              "Moment",
            ],
            frontend: ["Nuxt2", "Vuetify", "Axios", "Lodash", "Moment"],
            server: [
              "Ubuntu server 20.04",
              "PHP 7.4",
              "Nodejs v14",
              "MYSQL 8",
              "Apache2",
              "PM2",
            ],
          },
          {
            name: "MOSO5.0",
            description: "Website đào tạo trực tuyến",
            link: "https://moso.as",
            teamSize: "10",
            position: "Fullstack",
            backend: [
              "RESTfull API",
              "PHP-LARAVEL",
              "Mysql",
              "Nodejs",
              "Mongodb",
              "Mongoose",
              "Socket.io",
              "Lodash",
              "Axios",
              "Moment",
            ],
            frontend: ["Nuxt2", "Vuetify", "Axios", "Lodash", "Moment"],
            server: [
              "Ubuntu server 20.04",
              "PHP 7.4",
              "Nodejs v14",
              "MYSQL 8",
              "Apache2",
              "PM2",
            ],
          },
        ],
      };
      const vnct = {
        position: "Full-Stack Developer",
        companyName: "Công ty cổ phần đầu tư và thương mại VNCT",
        time: "01/2020 - 12/2021",
        projects: [
          {
            name: "Tizi",
            description: "Website rao vặt",
            link: "https://tizi.vn",
            teamSize: "1",
            position: "Fullstack",
            backend: [
              "RESTfull API",
              "PHP-LARAVEL",
              "Mysql",
              "Nodejs",
              "Mongodb",
              "Mongoose",
              "Socket.io",
              "Lodash",
              "Axios",
              "Moment",
              "Sharp",
            ],
            frontend: [
              "Vue2",
              "Boostrap",
              "Font-awesome",
              "Axios",
              "Lodash",
              "Moment",
            ],
            server: [
              "Ubuntu server 16.04",
              "PHP 7.4",
              "Nodejs v14",
              "MYSQL 5.7",
              "Nginx",
              "PM2",
            ],
          },
          {
            name: "Đà thành camera",
            description: "Cho thuê máy ảnh, phụ kiện máy ảnh",
            link: "https://dathanhcamera.com",
            teamSize: "1",
            position: "Fullstack",

            backend: [
              "RESTfull API",
              "PHP-LARAVEL",
              "Mysql",
              "Nodejs",
              "Lodash",
              "Axios",
              "Moment",
              "Sharp",
            ],
            frontend: [
              "Vue2",
              "Boostrap",
              "Font-awesome",
              "Axios",
              "Lodash",
              "Moment",
            ],
            server: [
              "Ubuntu server 16.04",
              "PHP 7.4",
              "Nodejs v14",
              "MYSQL 5.7",
              "Nginx",
              "PM2",
            ],
          },
          {
            name: "Dreambook",
            description: "Website bán sách, quản lý cộng các viên",
            link: "https://dreambook.vn",
            teamSize: "1",
            position: "Fullstack",

            backend: [
              "RESTfull API",
              "MVC",
              "PHP-LARAVEL",
              "Mysql",
              "Nodejs",
              "Lodash",
              "Moment",
            ],
            frontend: [
              "Vue2",
              "JQuery",
              "Ajax",
              "Boostrap",
              "Font-awesome",
              "Axios",
              "Moment",
            ],
            server: [
              "Ubuntu server 16.04",
              "PHP 7.4",
              "Nodejs v14",
              "MYSQL 5.7",
              "Nginx",
              "PM2",
            ],
          },
          {
            name: "Rồng việt express",
            description: "Website giới thiệu dịch vụ vận chuyển",
            link: "https://rongvietexpess.vn",
            teamSize: "1",
            position: "Fullstack",

            backend: ["RESTfull API", "PHP-LARAVEL", "Mysql"],
            frontend: ["Vue2", "Font-awesome", "Axios"],
            server: ["Ubuntu server 16.04", "PHP 7.4", "MYSQL 5.7", "Nginx"],
          },
        ],
      };
      const vinaenter = {
        position: "Full-Stack Developer",
        companyName: "Công ty TNHH giải pháp công nghệ VinaEnter",
        time: "06/2020 - 12/2018",
        projects: [
          {
            name: "B-Learning",
            description: "Website đào tạo trực tuyến",
            link: "https://blearning.vn",
            teamSize: "4",
            position: "Fullstack",
            detail: {
              backend: ["MVC", "PHP-LARAVEL", "Mysql"],
              frontend: ["JQuery", "Ajax", "Boostrap", "Font-awesome"],
              server: ["PHP 7.2", "MYSQL 5.7", "Apache2"],
            },
          },
          {
            name: "VinaEner",
            description: "Website đào tạo trực tuyến",
            link: "https://vinaenter.vn",
            teamSize: "6",
            position: "Fullstack",
            detail: {
              backend: ["MVC", "PHP-LARAVEL", "Mysql"],
              frontend: ["JQuery", "Ajax", "Boostrap", "Font-awesome"],
              server: ["PHP 7.2", "MYSQL 5.7", "Apache2"],
            },
          },
        ],
      };
      new Vue({
        el: "#app",
        data() {
          return {
            fullName: "Nguyễn Thế Anh",
            position: "Web Developer",
            experience: [ztech, azoom, unitech, vnct, vinaenter],
            isReady: false,
          };
        },
        beforeCreate() {
          Object.assign(this, { PROJECT, PROJECT_DETAIL });
        },
        mounted() {
          this.isReady = true;
        },
      });
    </script>
  </body>
</html>
